**/node_modules/
**/package-lock.json
**/.env

# Web app
web-app/.parcel-cache
web-app/dist

# Smart contracts
smart-contracts/coverage
smart-contracts/coverage.json
smart-contracts/typechain
smart-contracts/typechain-types
smart-contracts/cache
smart-contracts/artifacts
